/*
   Checkout Style Sheet for the SwiftyX Bussiness Website
   Author: ***REMOVED***
   Date:   11 Aug 2019
   
   Filename: checkout.css

*/
/* Heading 3, font style */
h3 {
    font-size: 1.4em;
}

/* font-awesome colors */
.fa-cc-visa {
    color: rgb(0, 0, 128);
}

.fa-cc-paypal {
    color: rgb(0, 0, 255);
}

.fa-cc-mastercard {
    color: rgb(255, 0, 0);
}

/* The cart box style, inside container */
.cart {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    padding: 30px;
    -webkit-box-shadow: 0 0 8px #888888;
    box-shadow: 0 0 8px #888888;
}

/* The price styling and layout */
.prices {
    height: 26%;
    padding: 30px;
    position: sticky;
    position: -webkit-sticky;
    top: 10px;
    overflow: hidden;
}

/* Price heading 3 font style */
.prices h3 {
	font-size: 1.7em;
	padding-top: 20px;
	padding-bottom: 20px;
}

/* At the side, Price item style */
.prices .prices-item {
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.prices .text{
	font-size: 1em;
}

.prices .price{
	font-size: 1em;
	float: right;
}

.btn {
    margin-top: 20px;
    background-color: rgb(231, 231, 231);
    border-color: #ccc;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

/* Price style to not sticky when small width */
@media screen and (max-width: 991px) {
    .prices {
        position: relative;
        top: 0px;
        overflow: visible;
    }
}

/* Form input boxes */
input, textarea {
    padding-right: 30px !important;
}