/*

   Layout for the all html file
   Author: ***REMOVED***
   Date:   3 May 2019
   Upadted: 14 July 2019
   
   Filename: swifty_layout.css

*/
* {
  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
  -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
  box-sizing: border-box;
}

/* Navbar brand logo */
.navbar-brand {
   border-right: 1px solid rgb(128, 128, 128);
   padding: 17px 16px;
   margin-right: -0.5px;
}

/* Navbar brand logo image */
.navbar-brand > img {
   width: 1em;
   height: 1em;
}


/* Top Navigation Bar reset*/
.navbar {
   list-style-type: none;
   margin: 0;
   padding: 0;
   background-color: rgb(255, 255, 255);
   border-bottom: 1px solid rgb(128, 128, 128);
   box-shadow: 0 1px 5px rgb(128, 128, 128);
}

.nav-link {
   padding: 20px 16px;
   text-decoration: none;
   cursor: pointer;
   color: black !important;
}

.custom-select {
   color: rgb(0, 0, 0);
   background-color: rgb(255, 255, 255);
   border: none;
   font-size: 16px;
   width: 250px;
   height: 57px;
   text-decoration: none;
   cursor: pointer;
}

/* Show the dropdown menu on hover */
.dropdown:hover > .dropdown-menu {
   display: block;
   font-size: 16px;
   margin-top: -2px;
}

/* Links inside the dropdown */
.dropdown-menu > a {
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  text-decoration: none;
}

/* Hover style Section */

a.nav-link:hover, .dropdown:hover {
   color: rgb(102, 184, 255);
   box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
}

/* Footer Section */
footer a:hover {
   color: rgb(255, 102, 102);
   text-decoration: none;
}
footer li a:active {
   color: rgb(165, 42, 42);
}

/* Make SwiftyXLogo no hover effect */
.navbar li a#SwiftyXLogo:hover {
   color: rgb(0, 0, 0);
   box-shadow: none;
} 

@media screen and (max-width: 991px) {
   .navbar .navbar-collapse {
      text-align: center;
   }
   .navbar {
      padding: 6px 0;
   }
   .navbar-brand {
      position: absolute;
      top: 0%;
      left: 50%;
      transform: translateX(-50%);
      border: none;
   }
   .dropdown:hover > .dropdown-menu {
      display: none;
   }
}

/* Back to top button */
.back-to-top {
  width: 55px;
  height: 55px;
  position: fixed;
  bottom: 25px;
  right: 20px;
  border: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  outline: none;
  opacity: 0;
  transition: 0.5s;
  z-index: 5;
}

.back-to-top i {
   font-size: 1.5rem;
   color: rgba(255, 94, 94, 0.781);
}

.show {
   opacity: 1;
   transition: 0.5s;
}